<%- include('./partials/header.ejs')%>
<%- include('./partials/navbar.ejs')%>

<div class="container">
<span>DON'T YOU WANT TO ENJOY THE LIFE</span>
<span>just login</span>
</div>
    
  

<%- include('./partials/footer.ejs')%>
