<%- include('./partials/header.ejs')%>
<%- include('./partials/navbar.ejs')%>

<h1>welcome to login page</h1>
<form action="" method="get">
    <input type="email" name="" id="" placeholder="enter your email">
    <input type="password" name="" id="" placeholder="enter your password">
    <input type="submit" value="login">
</form>

    <%- include('./partials/footer.ejs')%>